.animated__border {
    --angle: 0deg;
    --borderWidth: 1px;
    --animationDuration: 5s;
    --borderColor1: blue;
    --borderColor2: white;
    --backgroundColor: #111; 
    background-color: var(--backgroundColor);
    border: var(--borderWidth) solid;
    border-image: linear-gradient(var(--angle), var(--borderColor1), var(--borderColor2)) 1;
    animation: var(--animationDuration) rotate linear infinite;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

@keyframes rotate {
    to {
      --angle: 360deg;
    }
}

@supports (background: paint(houdini)) {
    @property --angle {
        syntax: '<angle>';
        initial-value: 0deg;
        inherits: false;
    }

    .warning {
        display: none;
    }
}

.card {
    padding: 1rem;
}