#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  margin: 2rem 0;
}

.examples {
  display: flex;
  gap: 2rem;
}

.examples .card {
  padding: 2em 1em;
  width: 250px;
}

pre {
  border-left: 3px solid #f36d33;
  background-color: #222;
  color: #f3f3f3;
  font-family: monospace;
  text-align: left;
  line-height: 1.6;
  margin: 1.6em 0;
  max-width: 100%;
  padding: 1em;
  display: block;
}